/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    margin-right: 15px;
}

/* Background Section Styles */
.background-section {
    background: url('media/img_1.png') no-repeat center center/cover;
    height: calc(100vh - 100px); /* Adjust this if you want to take into account header height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.background-content {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
}

.contact-info {
    margin-top: 20px; /* Add some space between the content and contact info */
}

.contact-link {
    color: #fff;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

/* Cookies Message Styles */
.cookies-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    max-width: 80%; /* Adjust to your preference */
}

.cookies-message.active {
    opacity: 1;
}
